@{
    Layout = "";
    ViewData["Title"] = "Acceder";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - La Llama Del Bosque</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/LaLlamaDelBosque.styles.css" asp-append-version="true" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    </head>
    <body>
        <div class="login-dark">
            <form method="post">
                <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Acceder</button></div>
            @if(ViewData["MENSAJE"] != null){
                <div class="alert alert-success" role="alert">@ViewData["MENSAJE"]</div>
            }
            </form>
        </div>
    </body>
</html>

<style>
    .login-dark {
        min-height: 100vh;
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://images.unsplash.com/photo-1583470790878-4f4f3811a01f?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .login-dark form {
        max-width: 480px;
        width: 90%;
        background-color: rgba(30, 40, 51, 0.7);
        padding: 30px;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 35%;
        left: 50%;
        box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    }

    .login-dark .illustration {
        text-align: center;
        font-size: 100px;
        color: #2980ef;
    }

    .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        box-shadow: none;
        outline: none;
        color: #6f7a85;
    }

    .login-dark form .btn-primary {
        background: #214a80;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: none;
    }

    .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
        background: #214a80;
        outline: none;
    }
</style>