@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-6 text-danger">¡Ups! Algo salió mal</h1>
        <p class="lead mb-0">Ocurrió un error mientras procesábamos su solicitud.</p>

        <img src="~/svg/ERROR.svg" alt="¡Error!" class="img-fluid" style="max-width: 30%; height: auto;" />
    </div>

    <div class="accordion" id="errorAccordion">
        <div class="card border-danger mb-2">
            <div class="card-header bg-danger text-white">
                <p class="mb-1">
                    <strong>ID de solicitud:</strong>
                    <code class="text-white">@Model.RequestId</code>
                </p>
                <p class="mb-0">
                    <strong>Mensaje de Error:</strong> @Model.ErrorMsg
                </p>
            </div>
            <div class="card-body p-1">
                @if(!string.IsNullOrEmpty(Model.ErrorStack))
                {
                    <div class="accordion-item">
                        <p class="accordion-header" id="stackTraceHeader">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#stackTraceCollapse" aria-expanded="false" aria-controls="stackTraceCollapse">
                                StackTrace
                            </button>
                        </p>
                        <div id="stackTraceCollapse" class="accordion-collapse collapse" aria-labelledby="stackTraceHeader" data-bs-parent="#errorAccordion">
                            <div class="accordion-body">
                                <pre class="mb-0"><code class="text-break">@Model.ErrorStack</code></pre>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="alert alert-info mb-2 p-1 ps-3">
        <p class="mb-1">
            <strong>Nota del desarrollador:</strong>
            No dude en contactarme a través de 
            <a href="https://api.whatsapp.com/send?phone=50683508585&text=Hola%2C%20tengo%20problemas!">WhatsApp</a>.
            Por favor, incluya un pantallazo de la página actual para ayudar de manera efectiva.
        </p>
    </div>

</div>
