@model LaLlamaDelBosque.Models.Award

<h6>¿Desea eliminar esta tabla de Premios?</h6>

<form asp-action="Delete" asp-route-id=@Model.Id>
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <input type="button" onclick="location.href='@Url.Action("Index", "Award")'" value="Cancelar" class="btn btn-secondary" />
</form>