@model LaLlamaDelBosque.Models.AwardConnectionModel


<form asp-action="Edit" asp-route-awardid=@Model.AwardId class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-1">
        <input asp-for="AwardLine.Order" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Order" class="text-danger"></span>
    </div>
    <div class="form-group col-2">
        <input asp-for="AwardLine.Description" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Description" class="text-danger"></span>
    </div>
    <div class="form-group col-1">
        <input asp-for="AwardLine.Number" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Number" class="text-danger"></span>
    </div>
    <div class="form-group col-2">
        <input asp-for="AwardLine.Amount" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Amount" class="text-danger"></span>
    </div>
    <div class="form-group col-2">
        <input asp-for="AwardLine.Busted" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Busted" class="text-danger"></span>
    </div>
    <div class="form-group col-1">
        <input asp-for="AwardLine.TimesAmount" class="form-control" />
        <span asp-validation-for="AwardLine.TimesAmount" class="text-danger"></span>
    </div>
    <div class="form-group col-1">
        <input asp-for="AwardLine.TimesBusted" class="form-control" />
        <span asp-validation-for="AwardLine.TimesBusted" class="text-danger"></span>
    </div>
    <div class="form-group col-2">
        <input asp-for="AwardLine.Award" class="form-control" readonly />
        <span asp-validation-for="AwardLine.Award" class="text-danger"></span>
    </div>
    <div class="form-group col-auto">
        <input type="submit" value="Guardar" class="btn btn-primary"/>
        <input type="button" onclick="location.href='@Url.Action("Index", "Award")'" value="Cancelar" class="btn btn-secondary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
