@model LaLlamaDelBosque.Models.Family

@if(Model?.Id != null)
{
    <h6>¿Desea eliminar a esta Familia?</h6>
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <input type="button" onclick="location.href='@Url.Action("Index", "Family")'" value="Cancelar" class="btn btn-secondary" />
    </form>
}
