@page {
    size: 80mm 210mm;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

.container {
    max-width: 80mm;
    margin: 0 auto;
    padding: 10px;
}

p {
    margin: 5px;
}

h1, h3 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0 auto 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000;
}

thead th {
    font-weight: bold;
    text-align: center;
}

.total-section {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}
