/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
:root {
    --background: #b2ebf2;
    --danger: #FF4136;
    --dark: #0B2239;
    --light: #FFFFFF;
    --primary: #3B82F6;
    --secondary: #2DCDDF;
    --warning: #F6C324;
    --success: #2B8A3E;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
    margin-bottom: 60px;
}

nav {
    background: var(--dark);
}

.nav-link {
    color: var(--background);
}

.nav-link:hover {
    color: var(--light);
}

.nav-link:focus {
    color: var(--light);
}

.navbar-text {
    color: var(--light);
}

.footer {
    background-color: var(--dark);
}

h1, h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    margin: 1px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}

.btn-danger {
    background-color: var(--danger);
    color: var(--light);
}

.btn-success {
    background-color: var(--success);
    color: var(--light);
}

.btn {
    border-radius: .45rem;
    width: 96px;
}

.btn-icon {
    padding: 0.2rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

span.material-icons.icon {
    font-size: 200%;
    display: inherit;
}

span.material-icons.star {
    color: var(--dark);
    font-size: 60px;
}

.icon-danger {
    color: var(--danger);
}

.icon-dark {
    color: var(--dark);
}

.icon-primary {
    color: var(--primary);
}

.icon-success {
    color: var(--success);
}

.accordion-item {
    border-radius: 0.25rem;
}

.table {
    background-color: white;
    border-radius: 0.25rem;
}

.table-striped-columns td:not(:last-child) {
    border-right: 1px solid #ddd;
}

[id*="Partial"] {
    display: none;
}
