@model CreditLine
@{
    var searchString = ViewBag.searchString;
    var currentPage = ViewBag.currentPage;
}

<form asp-action="Add" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Id" class="form-control visually-hidden" />
        <input type="hidden" name="searchString" value="@searchString" />
        <input type="hidden" name="currentPage" value="@currentPage" />
    </div>
    <div class="form-group col-auto">
        <label asp-for="CreatedDate" class="form-label">Fecha de creación</label>
        <input asp-for="CreatedDate" class="form-control" disabled readonly />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>
    <div class="form-group col-auto">
        <label asp-for="Description" class="form-label">Descripción</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-auto">
        <label asp-for="Amount" class="form-label">Monto</label>
        <div class="input-group">
            <div class="input-group-text">₡</div>
            <input asp-for="Amount" class="form-control" />
        </div>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <input type="button" onclick="location.href='@Url.Action("Index", "Credit")'" value="Cancelar" class="btn btn-secondary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
