@model LaLlamaDelBosque.Models.Credit

<h6>¿Desea eliminar todas las líneas de este cliente?</h6>

<form asp-action="Clear" asp-route-id=@Model.Client.Id>
    <input type="submit" value="Eliminar" class="btn btn-danger" />
</form>