@model LaLlamaDelBosque.Models.Note

@{
    ViewData["Title"] = "Crear Nota";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Cliente</label>
                <input asp-for="Title" class="form-control" id="title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Valor</label>
                <input asp-for="Value" class="form-control" rows="3"></input>
                <span asp-validation-for="Value" class="text-danger" id="description"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                &nbsp;&nbsp;&nbsp;
                <a asp-action="Index" style="color: var(--dark);">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
