@model LaLlamaDelBosque.Models.Note

@{
    ViewData["Title"] = "Editar Nota";
}

<h1 class="display-6">@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Proveedor</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Productos</label>
                <textarea asp-for="Value" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                &nbsp;&nbsp;&nbsp;
                <a asp-action="Index" style="color: var(--dark);">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}